@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@media screen and (min-width: 1108px) {
    .toggle-menu{
        display: none;
    }
}
*{
    font-family: 'Inter';
    h1{
        font-family: Montserrat;
        span{
            font-family: Montserrat;
        }
    }
}
body{
    padding: 0 0 0rem 0;
    margin: 0;
    background-color: #EDEDED;
}
button{
    border: none;
}
.reveal{
    opacity: 0;
    transition: all 2.5s ease;
}
.active{
    opacity: 1;
}

.homepage-container{
    .landing-page-container{
        background-image: url(../public/Rectangle9.svg);
        background-size: 100%;
        object-fit:cover ;
        display: flex;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        min-height: 900px;
    }
    .my-element{
        opacity: 0;
    }
    .color-for-navbar{
        background-color: rgb(166, 166, 166);
        transform: translate(0, -1.51rem);
        z-index: 999;
    }
    .navbar-container{
        position: fixed;
        margin-top:1.5rem;
        display: flex;
        align-items: center;
        color: #F4F5FA;
        justify-content: space-between;
        width: 100vw;
        height: 4.25vw;
        img{
            width: 120px;
            height: 100px;
        }
        a{
            text-decoration: none;
            color: #F4F5FA;
            font-size: 18px;
            margin: 0 2rem 0 0;
            letter-spacing: 2.5px;
        }
        button{
            background-color: #FF5A3E;
            color: #F4F5FA;
            border: none;
            font-size: 18px;
            padding: 1rem;
            border-radius: 2px;
            
        }
        .left-side{
            margin-left: 6rem;

        }
        .right-side{
            margin-right: 6rem;
        }
       
    }
    .landing-page-text{
        margin-top: 17rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            width: 100vw;
            display: inline-block;
            text-align: center;
            color: #FFFFff;
            font-size: 80px;
            line-height: 105px;
            word-spacing: 1px;
            letter-spacing: 4px;
            
            span{
                color: #FF5A3E;
                
            }
        }
        p{
            color: #F2F2F2;
            font-size: 22px;
            max-width: 550px;
            word-spacing: 4px;
            letter-spacing: 1.4px;
            font-weight: 550;
            line-height: 38px;
        }
        .landing-page-button-container{
            display: flex;
        button{
            width: 250px;
            margin-right: 2rem;
            text-align: center;
            background: linear-gradient(180deg, #FF5A3E 0%, #FF745C 100%);
            color: #FFFFFF;   
            font-size: 18px;   
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1.7px;
            padding:1.2rem;
            margin-top: -1rem;
            font-weight: bold;
            border-radius: 2px;
            img{
                width: 55px;
                margin-right: -0.5rem;
                height: 19px;
                
            }

        }
    }
    }
    .scss-static-purpose{
        position: absolute !important;
    }
    .fixed-class{
        opacity: 1 !important;
        transition: all 0.2s ease;
    }
    .hide-display{
        opacity: 0 !important;
        
    }
   
    .about-container{
       
        .about-text{

        }
        padding: 7rem 10rem;
        background-color: #EDEDED;
        display: flex;
        p{
            color: #56556E;
            font-size: 18px;
            letter-spacing: 1.4px;
            line-height: 29px;
            max-width: 760px;
            br{
                margin-bottom: 5rem;
            }
        }
        h1{
            font-size: 41px;
            color: #2C2A4A;
            margin-bottom: 4rem;
            span{
                color: #FF5A3E;
            }
        }
        .about-image-container{
            position: relative;
            margin-left: 10rem;
            div{
                margin-left: 2rem;
                padding: 0 0 0 0;
                margin-top: 4rem;
                
            }
            
            .about-stats-container{
                position: absolute ;
                top: 0;
                background-color: rgba($color: #FFFFFF, $alpha: 0.9);
                width: 390px;
                h1{
                    padding-left: 3rem;
                    color: #FF5A3E;
                    font-size: 45px;
                }
                p{
                    padding-left: 3rem;
                    margin-top: -3rem;
                    color: #56556E;
                    font-family: Montserrat;
                    font-weight: lighter;
                }

                
            }
            .about-stats-containerII{
                position: absolute ;
                top: 25%;
                background-color: rgba($color: #FFFFFF, $alpha: 0.9);
                width: 390px;
                h1{
                    padding-left: 3rem;
                    color: #FF5A3E;
                    font-size: 45px;
                }
                p{
                    padding-left: 3rem;
                    margin-top: -3rem;
                    color: #56556E;
                    font-family: Montserrat;
                    font-weight: lighter;
                }

            }
            .about-stats-containerIII{
                position: absolute ;
                top: 50%;
                background-color: rgba($color: #FFFFFF, $alpha: 0.9);
                width: 390px;
                h1{
                    padding-left: 3rem;
                    color: #FF5A3E;
                    font-size: 45px;
                }
                p{
                    padding-left: 3rem;
                    margin-top: -3rem;
                    color: #56556E;
                    font-family: Montserrat;
                    font-weight: lighter;
                }

            }
     
        img{
        
            padding: 0;
            width: 660px;
            height: 760px; 
            margin-top: -4rem;
         
        }
    }
    }
    .services-container{
        margin-top: 0rem;
        .services-top-section{
            margin-bottom: 5rem;
            text-align: center;
            h1{
                font-size: 41px;
                color: #2C2A4A;
                span{
                    color: #FF5A3E;
                }
            }
            p{
                font-size: 18px;
                color: #56556E;
            }
        }
        .services-bottom-section{
            display: flex;
            justify-content:   center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 400px;
                max-width: 350px;
                height: 360px;
                border-radius: 10px;
                h1{
                    color: white;
                    max-width: 200px;
                }
                p{
                    max-width: 290px;
                    line-height: 22px;
                    letter-spacing: 1.2px;
                    color: white;
                    margin-bottom: 2.5rem;
                }
                text-align: center;;
               
            }
            .services-divI{
                background: #211F3C;
            }
            .services-divII{
                background: linear-gradient(136.17deg, #2C2A4A 6.09%, #56556E 49.43%, #2C2A4A 97.69%);
            }
            .services-divIII{
                background: linear-gradient(136.17deg, #2C2A4A 6.09%, #56556E 49.43%, #2C2A4A 97.69%), #56556E;
            }
            .services-divIV{
                background: linear-gradient(136.17deg, #2C2A4A 6.09%, #56556E 49.43%, #2C2A4A 97.69%), #56556E;
            }
            div:not(:last-child){
                margin-right: 4rem;
            }
        }
    }
    .our-services-container{
        margin-top: 10rem;
        .our-services-top-section{
            text-align: center;
            margin-bottom: 3rem;
            h1{
                color: #2C2A4A;
                font-size: 41px;
                span{
                    color: #FF5A3E;
                }
            }
            p{
                font-size: 18px;
                color: #56556E;
            }
        }
        .our-services-bottom-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div{
                background-repeat: no-repeat;
                position: relative;
                background-size: 100%;
                margin-right: 4rem;
                margin-top: 2rem;
                p{
                    position: absolute;
                    bottom: 0;
                    font-family: Montserrat;
                    font-size: 18px;
                    text-align: center;
                    width: 100%;
                    color: white;
                    background-color:#2c2a4ac6;;
                    padding: 1.25rem 0;
                    margin-bottom: -0rem;
                }
            }
            .bottom-section-divI{
                background-image: url('../public/bottomI.svg');
                width: 500px;
                height: 400px;
            }
            .bottom-section-divII{
                background-image: url('../public/bottomII.svg');
                width: 500px;
                height: 400px;
            }
            .bottom-section-divIII{
                background-image: url('../public/bottomIII.svg');
                width: 500px;
                height: 400px;
            }
            .bottom-section-divIV{
                background-image: url('../public/bottomIV.svg');
                width: 500px;
                height: 400px;
            }
            .bottom-section-divV{
                background-image: url('../public/bottomV.svg');
                width: 500px;
                height: 400px;
            }
            .bottom-section-divVI{
                background-image: url('../public/bottomVI.svg');
                width: 500px;
                height: 400px;
            }
        }
    }
    .testimonial-container{
        margin-top: 10rem;
        h1{
            font-size: 41px;
            text-align: center;
            color: #2C2A4A;
            span{
                color: #FF5A3E;
            }
        }
        .testimonial-bottom-section{
            display: flex;
            justify-content: center;
            .bottom-section-divI{
                width: 770px;
                margin-right: 4rem;
                
                height: 330px;
                background-color: #FFFFFF;
                .profile{
                    padding: 2rem;
                    display: flex;
                    p{
                        margin-top: 0.5rem;
                        font-style:normal;
                        line-height: 27px;
                        margin-left: 0.5rem;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 0;
                        opacity: 1;
                        color: #2C2A4A;
                        span{
                            
                            font-weight: 300;
                            font-size: 14px;
                            color: #56556E;
                            
                        }
                    }
                    img{
                        width: 85px;
                        height: 75px;
                    }
                }
                p{
                    font-size: 18px;
                    padding: 1rem 4rem;
                    letter-spacing: 1.1px;
                    word-spacing: 3px;
                    margin-top: 2rem;
                    line-height: 22px;
                    color: #56556E;
                    font-style: italic;
                    font-weight: 300;
                    opacity: 0.8;
                }
            }
            .bottom-section-divII{
                width: 770px;
                
                height: 330px;
                background-color: #FFFFFF;
                .profile{
                    padding: 2rem;
                    display: flex;
                    p{
                        margin-top: 0.5rem;
                        font-style:normal;
                        line-height: 27px;
                        margin-left: 0.5rem;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 0;
                        opacity: 1;
                        color: #2C2A4A;
                        span{
                            
                            font-weight: 300;
                            font-size: 14px;
                            color: #56556E;
                            
                        }
                    }
                    img{
                        width: 85px;
                        height: 75px;
                    }
                }
                p{
                    font-size: 18px;
                    padding: 1rem 4rem;
                    letter-spacing: 1.1px;
                    word-spacing: 3px;
                    margin-top: 2rem;
                    line-height: 22px;
                    color: #56556E;
                    font-style: italic;
                    font-weight: 300;
                    opacity: 0.8;
                }
            }
        }
        .arrow-container{
            display: flex;
            justify-content: center;
            margin: 7rem 0 ;
            img:first-child{
                margin-right: 1.55rem;
            }
            img:last-child{
                margin-left: 2.55rem;
            }
        }
    }
    .investment-container{
        h1:first-child{
            color: #2C2A4A;
            text-align: center;
            font-size: 41px;
            span{
                color: #FF5A3E;
            }
        }
        .investment-boxes{
            display: flex;
            justify-content: center;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right:2rem;
                width: 400px;
                height: 340px;
                border-radius: 7px;
                h1{ margin-top: 0rem;
                    color: white;
                    font-size: 60px;
                }
                p{
                    color: #FFFFFF;
                    font-size: 18px;
                    letter-spacing: 1.4px;
                    opacity: 0.7;
                    margin-top: -2rem;
                }
            }
            div:nth-child(1),
            div:nth-child(3){
                background: #2C2A4A;
            }
            div:nth-child(2),
            div:nth-child(4){
                background-color: #FF5A3E;
            }
        }
    }
    .blog-container{
        margin: 10rem 8rem;

        h1{
            text-align: center;
            font-size: 41px;
            margin-bottom: 7rem;
            
        }
        .act-blog-container{
            display: flex;
            justify-content: flex-start;
            .big-blog{
                position: relative;
                width: 700px;
                height: 650px;
                background-repeat:no-repeat;
                background-image: url('../public/bigblog.svg');
                background-size: 100%;
                p{
                        position: absolute;
                        bottom: 5%;
                       font-family: Montserrat;
                       font-size: 27px;
                       color: #F9F9F9;
                       span{
                        font-family: Inter;
                        color: #FFFFFF;
                        font-size: 16px;
                       }
                        padding: 0 2rem 0 1.7rem;
                        letter-spacing: 1.8px;
                        line-height: 36px;
                    }
            }

            .right-small-blog{
                display: grid;
                grid-template-columns: 1fr 1fr;
                div{
                    position: relative;
                    width: 400px;
                    height: 300px;
                    margin: 0rem 2rem 2rem 2rem;
                    border-radius: 10px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    object-fit: fill;
                    p{
                        position: absolute;
                        bottom: 0;
                       font-family: Montserrat;
                       font-size: 22px;
                       color: #F9F9F9;
                       span{
                        font-family: Inter;
                        color: #FFFFFF;
                        font-size: 16px;
                       }
                        padding: 0 0.4rem 0 1rem;
                        letter-spacing: 1.4px;
                        line-height: 29px;
                    }
                }
                .small-blogI{
                    background-image: url('../public/blogI.svg');
                }
                .small-blogII{
                    background-image: url('../public/blogII.svg');
                }
                .small-blogIII{
                    background-image: url('../public/blogIII.svg');
                }
                .small-blogIV{
                    background-image: url('../public/blogIV.svg');
                }
            }
        }
        
    }
    .client-container{
        position: relative;
        h1{
            font-size: 41px;
            text-align: center;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .client-image-container{
    img{
        width: 300px;
        height: 200px;
        
        margin-right: 4rem;
    }
    img:nth-child(3){
        width: 240px ;
    }
    img:nth-child(5){
        width: 250px;
    }
}
  .client-arrow-left{
    position: absolute;
    top: 65%;
    right: 2%;
    transform: translateY(-50%);
    width: 90px ;
    height: 90px;
  }
  .client-arrow-right{
    position: absolute;
    top: 65%;
    left: 2%;
    transform: translateY(-50%);
    width: 90px ;
    height: 90px;
  }
  .oppurtunity-card-container{
    margin-top: 5rem;
    width: 100vw;
    height: 270px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../public/cardimg.svg');
    display: flex;
    align-items: center;
    .card-text{
        
        padding: 0rem 0rem 0 15rem;
        h1{
            font-family: Inter;
            font-weight: bold;
            color: #F9F9F9;
            font-size: 45px;

        }
        p{
            font-size: 18px;
            margin-top: -0rem;
            color: #F9F9F9;
        }
    }
    button{
        margin-left: 19rem;
        background-color: #FF5A3E;
        font-size: 20px;
        display: flex;
        align-items: center;
        padding: 1.5rem 1.8rem;
        color: white;
        border-radius: 2px;
        img{
            height: 17px;
        }
    }
  }
  .footer-container{
    background-color: #2C2A4A;
    padding: 1rem 0rem;
    .top-section{
        
        padding: 5rem;
        .footer-top-divs:not(:last-child){
            margin-right:10rem ;
        }
        .footer-special-div{
            margin-right: 15rem;
            img{
                width: 150px;
            }
            .social-media-section{
                img{
                    width: 50px;
                    margin-right: 1rem;
                }
            }
        }
        display: flex;
        li{
            list-style: none;
            color: white;
            font-style: Inter;
            line-height: 39px;
            font-size: 18px;

        }
        p{
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 1.4px;
            color: white;

        }
    }
    .bottom-section{
        padding-top: 1rem;
        border-top: 1px solid #515051;
        display: flex;
        .left-side{
            margin-left: 5rem;
            display: flex;
            p{
                margin-right: 3rem;
                color: #D9D9D9;

            }
        }
        .right-side{
            margin-left: 60rem;
            color: #D9D9D9;
        }
    }
  }
}

@media screen and (max-width: 1378px) {

    .homepage-container{
        h1{
            font-size: 35px !important;
        }
        overflow-x:hidden !important;
        .landing-page-container{
            min-height: 760px;
            height: 100vh;
            
            background-size: 100% !important;
            h1{
                font-size: 60px !important;
                line-height: 80px;
            }
        }
        .about-container{
            padding: 0rem 5rem;
            .about-text{
               p{
                font-size: 15px;

               }
            }
            .about-image-container{
                width: 500px;
                height: 660px;
                margin-right: 9rem;
                margin-left: 5rem;
            }
        }
        
    }
}