.fourthpage-container{
    .navbar-container{
        margin-top:  0.2rem;
        .left-side{
            width: 120px;
            height: 100px;
            background-image: url('../public/snnavbar-logo.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            margin-bottom: -3.7rem;
            img{
                display: none;
            }
        }
        position: fixed;
        margin-top:1.5rem;
        display: flex;
        align-items: center;
        color: #F4F5FA;
        justify-content: space-between;
        width: 100vw;
        height: 4.25vw;
        img{
            width: 120px;
            height: 100px;
        }
        a{
            text-decoration: none;
            color: #2C2A4A;
            font-size: 18px;
            margin: 0 2rem 0 0;
            letter-spacing: 2.5px;
        }
        button{
            background-color: #FF5A3E;
            color: #F4F5FA;
            border: none;
            font-size: 18px;
            padding: 1rem;
            border-radius: 2px;
            
        }
        .left-side{
            margin-left: 6rem;
    
        }
        .right-side{
            margin-right: 6rem;
        }
       
    }
    .fourthpage-wallpaper{
        transform: translateY(81px);
        width: 100vw;
        height: 350px;
        background-image: url('../public/fh-about.svg') ;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 44px;
            line-height: 160%;
            letter-spacing: 10px;
            color: #FFFFFF;
        }
    }
}