@media screen and (max-width: 989px) and (min-width: 700px) {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.color-for-navbar{
    background-color: white;
    transform: translate(0, -1.51rem);
    z-index: 999;
}
.secondpage-container,
.thirdpage-container,
.fourthpage-container{
    overflow-x: hidden ;
    h1{
        font-size: 30px;
    }
.navbar-container{

    .left-side{
        width: 120px;
        height: 120px;
        background-image: url('../public/snnavbar-logo.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: -4.7rem;
        img{
            display: none;
        }
    }
    position: fixed;
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    color: #F4F5FA;
    justify-content: space-between;
    width: 100vw;
    height: 9.25vw;
    a{
        text-decoration: none;
        color: #2C2A4A;
        font-size: 18px;
        margin: 0 2rem 0 0;
        letter-spacing: 2.5px;
    }
    button{
        background-color: #FF5A3E;
        color: #F4F5FA;
        border: none;
        font-size: 18px;
        padding: 1rem;
        border-radius: 2px;
        
    }
    .left-side{
        margin-left: 6rem;

    }
    .right-side{
        margin-right: 6rem;
    }
   
}
.vaccancy-intro-container{
    display: flex;
    flex-direction: column-reverse;
    
    padding-top: 8rem;
    align-items: center;
    img{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 3rem;
        width: 90vw;
    }
    .vaccancy-intro-text{
        display: flex;
        flex-direction: column;
        ul{
            display: flex;
            align-items: center;
            margin-left: -1rem;
            li::marker{
                color: #FF5A3E;
            }
            li:last-child{
                margin-left: 2.7rem;
                margin-top: -0.4rem;
              
            }
            li:first-child{
                margin-right: 1rem;
                margin-top: -0.1rem;
            }
            p{
                color: #FF5A3E;
                font-size: 22px;
            }
            li{
                font-size: 27px;
            }
            
        }
        img{
            width: 50px;
        }
        h1{
            font-family: Inter;
            font-weight: 500;
            color: #2C2A4A;
            margin-bottom: 1rem;
            margin-top: -1rem;
            font-size: 37px ;
        }
        p{
            color: #56556E;
            font-size: 17px;
            max-width: 600px;
            letter-spacing: 1.5px;
            line-height: 27px;
        }
        .search-bar{
            display: flex;
            align-items: center;

        }
        input{
            background-color: white;
            width: 500px;
            height: 60px;
            border: none;
            padding: 0 0 0 2rem;
        }
        button{
            width: 65px; 
            height: 60px;
            position: relative;
            background-color: #FF5A3E;
            img{
             
               margin: 0;
               width: 30px;
               


            }
        }
    }
}
.jobbox-header{
    padding: 7rem 0rem;
    h1{
        font-size: 47px;
        font-weight: 500;
        font-family: Inter;
        letter-spacing: 2.5px;
        text-align: center;
    }
}
 .secondpage-jobbox-container{
    display: grid;
    grid-template-columns: 1fr;
    .jobBox-container:nth-of-type(odd){
        margin-left: 4rem;
    }
    .jobBox-container{
        margin-bottom: 4rem;
        margin-left: 4rem;
        padding: 0 0 2rem 2rem;
        position: relative;
        width: 650px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        .jobBox-date{
            color: #56556E;
            font-size: 16px;
            opacity: 0.5;
            margin-left: 26rem;
            margin-top: 2rem;
            margin-bottom: 0rem;
        }
        h1{
            color: #56556E;
            font-weight: normal;
            font-family: Inter;
            font-size: 35px;
        }
        p{
            color: #56556E;
            font-size: 18px;
            span{
                color: #2C2A4A;
                font-weight: bold;
                font-size: 18px;
            }
        }
        button{
            background-color: #2C2A4A;
            color: white;
            font-size: 16px;
            width: 200px;
            padding: 1.8rem 1.5rem;
            height: 20px;
            text-align: center;
            position: absolute;
            bottom: 12%;
            display: flex;
            justify-content: center;;
            align-items: center;
            right: 10%;
        }
    }
 }
 .footer-sec-container{
    background-color: #F9F9F9;
    .top-section{
        padding: 4rem 2rem 2rem 4rem;
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            color: #56556E;
            font-size: 16px;
            line-height: 45px;
            margin-left: -2.4rem;
            letter-spacing: 1.2px;
        }
        div:first-child{
            margin-right: 13rem;
        }
        div:nth-child(2){
            margin: 0;
        }
        div{
            p{
                font-size: 18px;
                font-weight: bold;
                color: #2C2A4A;
                letter-spacing: 1.3px;
            }
        }
        div:last-child{
            .third-div-p{
                color: #56556E;
                font-size: 16px;
                max-width: 400px;
                line-height: 29px;
                font-weight: normal;
            }
            input{
                background-color: white;
                border: none;
                width: 500px;
                height: 60px;
                outline: none;
                
            }
            button{
                background-color: #FF5A3E;
                height: 60px;
                width: 60px;
             
                border-radius: 0px 6px 6px 0px;
                img{
               
                }
                

                
            }
            .search-bar{
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
            }
            .social-media-images{
                img{
                    margin-top: 1rem;
                    margin-left: 1rem;
                margin-right: 1rem;
                width: 50px;
                }
            }
        }

    }
    .bottom-section{
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        color: #56556E;
        .left-side{
            padding-left: 0.5rem;
            display: flex;
            p{
                color: #56556E;
                font-size: 17px;
                margin-left: 4rem;
                letter-spacing: 1.4px;
            }
        }
        .right-side{
            margin-right: 0rem;
            p{
              
                font-size: 17px;
              
                
            }
        }
    }
 }
}
}